.navbar{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
background:#0f172a;
padding:15px 40px;
z-index:1000;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-size:14px;
}

nav a:hover{
color:#7c8cff;
}

body{
margin-top:100px;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#0b1736;
padding:15px 40px;
}

.logo{
font-size:22px;
font-weight:bold;
color:white;
}

/* NAV LINKS */

.nav-links{
list-style:none;
display:flex;
gap:30px;
margin:0;
padding:0;
}

.nav-links li{
display:inline;
}

.nav-links a{
text-decoration:none;
color:white;
font-size:16px;
font-weight:500;
}

.nav-links a:hover{
color:#6366f1;
}
footer{
text-align:center;
padding:20px;
background:#020617;
margin-top:40px;
}

/* Mic Glow */

.mic-active{
background:#ef4444 !important;
box-shadow:0 0 20px #ef4444;
animation:pulse 1s infinite;
}

@keyframes pulse{

0%{transform:scale(1)}

50%{transform:scale(1.1)}

100%{transform:scale(1)}

}


/* Result Box Hover */

.box{
transition:0.3s;
}

.box:hover{
transform:translateY(-5px);
box-shadow:0 10px 25px rgba(0,0,0,0.4);
}


/* Button Glow */

button{
transition:0.3s;
}

button:hover{
transform:scale(1.05);
box-shadow:0 0 15px #6366f1;
}


/* Floating Particles */

.particle{

position:fixed;
bottom:-10px;
width:4px;
height:4px;
background:#6366f1;
border-radius:50%;
opacity:0.5;
animation:float linear infinite;

}

@keyframes float{

from{
transform:translateY(0);
}

to{
transform:translateY(-120vh);
}

}